* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
html,
body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
button,
textarea {
  font-family: inherit;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
h1 {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #10375c;
}
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
.container {
  width: 1110px;
  margin: 0 auto;
}
.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding-top: 61px;
  margin-bottom: 60px;
}
.header-logo {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 24px;
  color: #10375c;
}
.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-menu_link {
  margin-right: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #222831;
}
.header-menu_link:last-child {
  margin-right: 0;
}
.header-menu_link:hover {
  color: #ff5722;
}
.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
}
.login-btn {
  padding: 12px 24px;
  font-weight: 700;
  font-size: 16px;
  color: #ff5722;
  background-color: #fff;
}
.login-btn:hover {
  color: #fff;
  background-color: #ff5722;
  -webkit-box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
          box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}
.signup-btn {
  padding: 12px 24px;
  font-weight: 700;
  font-size: 16px;
  color: #ff5722;
  background-color: #fff;
}
.signup-btn:hover {
  color: #fff;
  background-color: #ff5722;
  -webkit-box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
          box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}
.header-content_title {
  position: relative;
  margin-bottom: 8px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #222831;
}
.header-content_title::after {
  position: absolute;
  content: "";
  top: 13px;
  left: 120px;
  width: 73px;
  height: 2px;
  background-color: #222831;
}
.introducing__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.introducing__inner-title {
  width: 665px;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 52px;
  line-height: 65px;
  color: #10375c;
}
.introducing__inner-title span {
  color: #dd2c00;
}
.introducing__desc {
  width: 380px;
  padding-top: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #6a6a6a;
}
.section-header {
  margin-bottom: 115px;
}
.section-our-spaces {
  margin-bottom: 150px;
}
.our-spaces_content {
  position: relative;
}
.our-spaces_header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px;
}
.our-spaces__title {
  width: 220px;
  margin-right: 160px;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #10375c;
}
.our-spaces__desc {
  width: 450px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #9a9a9a;
}
.our-spaces_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-bottom: 53px;
}
.main-card_img {
  position: relative;
  width: 350px;
  margin-bottom: 25px;
  margin-right: 30px;
}
.main-card_btn {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  padding: 28px 31px;
  font-size: 18px;
  background-color: #ff5722;
  color: #fff;
}
.main-card_btn span {
  margin-right: 31px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
.main-card_desc {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222831;
}
.our-spaces_arrow-left {
  position: absolute;
  top: 35px;
  right: 150px;
  font-size: 28px;
  background-color: #fff;
  color: #9a9a9a;
}
.our-spaces_arrow-right {
  width: 28px;
  position: absolute;
  top: 35px;
  right: 0;
  font-size: 28px;
  background-color: #fff;
  color: #9a9a9a;
}
.our-spaces_arrow-left:hover,
.our-spaces_arrow-right:hover {
  color: #ff5722;
}
.why-frispes-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 115px;
}
.why-frispes-content_left-info {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 540px;
  height: 420px;
  padding: 45px;
}
.statistics_item-icon {
  width: 32px;
  height: 32px;
  margin-right: 24px;
}
.left-info-statistics_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}
.statistics_item-info-title {
  margin-bottom: 8px;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #10375c;
}
.statistics_item-info-desc {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
}
.why-frispes-content_right-info {
  width: 540px;
  height: 420px;
  padding: 53px;
  background-color: #10375c;
  color: #fff;
}
.content_right-info-title {
  position: relative;
  margin-bottom: 8px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
.content_right-info-title::after {
  position: absolute;
  content: "";
  top: 13px;
  left: 120px;
  width: 73px;
  height: 2px;
  background-color: #fff;
}
.right-info__header {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  margin-bottom: 24px;
}
.right-info__desc {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.section-our-facilities {
  padding-bottom: 112px;
}
.our-facilities__title {
  position: relative;
  margin-bottom: 8px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #222831;
}
.our-facilities__title::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 135px;
  width: 73px;
  height: 2px;
  background-color: #222831;
}
.our-facilities__inner-title {
  margin-bottom: 56px;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #10375c;
}
.our-facilities_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.our-facilities_content-left-info {
  width: 295px;
  margin-right: 90px;
}
.our-facilities_list-btn {
  width: 100%;
  padding: 24px;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #222831;
  background-color: #fff;
}
.our-facilities_list-btn:hover {
  color: #fff;
  background-color: #ff5722;
}
.section-frispes-gallery {
  position: relative;
  height: 605px;
  margin-bottom: 112px;
}
.frispes-gallery-heading {
  float: right;
}
.frispes-gallery__title {
  position: relative;
  margin-bottom: 8px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #222831;
}
.frispes-gallery__title::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 135px;
  width: 73px;
  height: 2px;
  background-color: #222831;
}
.frispes-gallery__inner-title {
  width: 495px;
  margin-bottom: 50px;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #10375c;
}
.frispes-gallery_carousel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  bottom: 0;
  right: 0;
  left: 0;
}
.frispes-gallery_carousel-item img {
  width: 350px;
  height: 350px;
  margin-right: 30px;
}
.frispes-gallery_carousel-item.active img {
  width: 445px;
  height: auto;
}
.frispes-gallery_arrow-left {
  width: 28px;
  margin-right: 50px;
  font-size: 28px;
  background-color: #fff;
  color: #9a9a9a;
}
.frispes-gallery_arrow-right {
  width: 28px;
  font-size: 28px;
  background-color: #fff;
  color: #9a9a9a;
}
.frispes-gallery_arrow-left:hover,
.frispes-gallery_arrow-right:hover {
  color: #ff5722;
}
.section-who-use-frisper {
  margin-bottom: 112px;
}
.who-use-frisper_content-title {
  margin-bottom: 24px;
  text-align: center;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #0d2c4a;
}
.who-use-frisper_content-desc {
  margin-bottom: 72px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #9a9a9a;
}
.who-use-frisper_company-logos {
  width: 1175px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-reviews {
  position: relative;
  height: 625px;
  margin-bottom: 112px;
}
.reviews_arrow-left {
  position: absolute;
  top: 105px;
  right: 360px;
  font-size: 28px;
  background-color: #fff;
  color: #9a9a9a;
}
.reviews_arrow-right {
  width: 28px;
  position: absolute;
  top: 105px;
  right: 250px;
  font-size: 28px;
  background-color: #fff;
  color: #9a9a9a;
}
.reviews_arrow-left:hover,
.reviews_arrow-right:hover {
  color: #ff5722;
}
.section-reviews_heading {
  margin-bottom: 56px;
}
.section-reviews__title {
  position: relative;
  margin-bottom: 8px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #222831;
}
.section-reviews__title::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 90px;
  width: 73px;
  height: 2px;
  background-color: #222831;
}
.section-reviews__inner-title {
  width: 495px;
  margin-bottom: 50px;
}
.reviews-slider {
  position: absolute;
  left: 205px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews-slider_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 445px;
  height: 393px;
  margin-right: 30px;
  padding: 40px 45px 40px 35px;
  color: #fff;
  background-color: #10375c;
}
.reviews-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.reviews-autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews-autor__avatar {
  width: 56px;
  height: auto;
  margin-right: 16px;
}
.reviews-autor__name {
  margin-bottom: 4px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.reviews-autor__profession {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.section-faq {
  margin-bottom: 40px;
}
.section-faq_title {
  width: 578px;
  margin: 0 auto;
  margin-bottom: 54px;
  text-align: center;
}
.faq-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 67px;
}
.faq-slider_item {
  position: relative;
  width: 350px;
  height: 170px;
  padding: 40px 42px 40px 63px;
  margin-right: 20px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 16px rgba(223, 223, 223, 0.5);
          box-shadow: 0px 4px 16px rgba(223, 223, 223, 0.5);
}
.faq-slider_item:last-child {
  margin-right: 0;
}
.faq-slider_item:hover {
  color: #fff;
  background-color: #ff5722;
}
.faq-slider_item-text {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
}
.faq-more-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.faq-slider_item-button {
  position: absolute;
  padding: 20px 24px;
  left: 150px;
  bottom: -30px;
  font-size: 18px;
  color: #fff;
  background-color: #ff5722;
}
.faq-slider_item-button:hover {
  cursor: pointer;
  color: #ff5722;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 16px rgba(221, 44, 0, 0.24);
          box-shadow: 0px 4px 16px rgba(221, 44, 0, 0.24);
}
.more-question_link {
  line-height: 30px;
  margin-right: 20px;
}
.more-question_link a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ff5722;
}
.more-question_arrow-btn {
  color: #ff5722;
  background-color: #fff;
}
.section-news {
  padding-bottom: 95px;
  background-color: #f8f8f8;
}
.section-news_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 60px;
  margin-bottom: 55px;
}
.section-news__right-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-news__see-more {
  line-height: 30px;
  margin-right: 20px;
}
.section-news__see-more a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ff5722;
}
.section-news__arrow-btn {
  color: #ff5722;
  background-color: #f8f8f8;
}
.section-news_main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-content_upper-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.main-content__first-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}
.first-card__img {
  width: 350px;
}
.first-card__desc {
  width: 380px;
  padding: 32px;
  background-color: #fff;
}
.first-card__desc-title {
  margin-bottom: 24px;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  color: #222831;
}
.first-card__desc-info {
  margin-bottom: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
}
.first-card__autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first-card__autor-avatar {
  width: 56px;
  height: auto;
  margin-right: 16px;
}
.autor-info__name {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #10375c;
}
.autor-info__profession {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
}
.main-content_bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-content__small-card {
  width: 350px;
  margin-right: 30px;
  background-color: #fff;
}
.main-content__small-card:last-child {
  margin-right: 0;
}
.main-content__small-card:hover,
.main-content__first-card:hover {
  -webkit-box-shadow: 0px 4px 16px rgba(223, 223, 223, 0.5);
          box-shadow: 0px 4px 16px rgba(223, 223, 223, 0.5);
}
.small-card__desc {
  padding: 16px;
}
.small-card__desc-title {
  margin-bottom: 4px;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #222831;
}
.small-card__desc-autor {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
}
.footer {
  padding-top: 55px;
  padding-bottom: 100px;
  background-color: #0d2c4a;
}
.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-logo {
  margin-bottom: 16px;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 52px;
  line-height: 67px;
  color: #ffffff;
}
.footer-about {
  margin-bottom: 32px;
  width: 255px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #f8f8f8;
  opacity: 0.85;
}
.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-icons-item {
  margin-right: 20px;
}
.footer-icons-item:last-child {
  margin-right: 0;
}
.footer-icons-item .fa-brands {
  font-size: 22px;
  color: #fff;
}
.footer-icons-item .fa-brands:hover {
  color: #ff5722;
  cursor: pointer;
}
.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}
.footer-col {
  margin-right: 68px;
}
.footer-col:last-child {
  margin-right: 0;
}
.footer-col-title {
  margin-bottom: 24px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  opacity: 0.5;
}
.footer-col a,
.footer-col p {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}
.footer-col a:hover {
  color: #ff5722;
}
.footer-list-item {
  margin-bottom: 9px;
}
.footer-list-item:last-child {
  margin-bottom: 0;
}
.footer-list-item a:hover {
  color: #ff5722;
}
/*# sourceMappingURL=main.css.map */