* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
html,
body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
button,
textarea {
  font-family: inherit;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
h1 {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: inherit;
}
h4 {
  margin-bottom: 8px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: inherit;
  color: #222831;
}
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
}
.container {
  max-width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1110px;
  }
}
.section-header {
  margin-bottom: 55px;
}
@media (min-width: 768px) {
  .section-header {
    margin-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .section-header {
    margin-bottom: 115px;
  }
}
.header-menu {
  max-width: 300px;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .header-menu {
    max-width: 740px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .header-menu {
    max-width: unset;
    padding-top: 61px;
    margin-bottom: 60px;
  }
}
.header-main {
  max-width: 300px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .header-main {
    max-width: 740px;
  }
}
@media (min-width: 1200px) {
  .header-main {
    max-width: unset;
  }
}
.header-main_subtitle {
  position: relative;
  font-size: 14px;
}
.header-main_subtitle::after {
  position: absolute;
  content: "";
  top: 7px;
  left: 85px;
  width: 73px;
  height: 2px;
  background-color: #222831;
}
@media (min-width: 1200px) {
  .header-main_subtitle {
    font-size: 20px;
  }
  .header-main_subtitle::after {
    position: absolute;
    content: "";
    top: 13px;
    left: 125px;
    width: 73px;
    height: 2px;
    background-color: #222831;
  }
}
.introducing__info {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .introducing__info {
    max-width: 740px;
    margin-bottom: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .introducing__info {
    max-width: 1110px;
  }
}
.introducing__title {
  margin-bottom: 10px;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #10375c;
}
@media (min-width: 768px) {
  .introducing__title {
    width: 50%;
    margin-right: 15px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .introducing__title {
    width: 670px;
    margin-bottom: 15px;
    font-size: 52px;
    line-height: 67px;
  }
}
.introducing__title span {
  color: #dd2c00;
}
.introducing__desc {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #6a6a6a;
}
@media (min-width: 768px) {
  .introducing__desc {
    width: 50%;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .introducing__desc {
    width: 385px;
    padding-top: 5px;
    font-size: 20px;
    line-height: 30px;
  }
}
.introducing__img {
  max-width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .introducing__img {
    max-width: 740px;
  }
}
@media (min-width: 1200px) {
  .introducing__img {
    max-width: 1110px;
  }
}
.header-nav {
  display: none;
}
@media (min-width: 1200px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
}
.header-logo a {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 28px;
  color: #10375c;
}
.header-nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav-link_item {
  margin-right: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #222831;
}
.header-nav-link_item:last-child {
  margin-right: 0;
}
.header-nav-link_item:hover {
  color: #ff5722;
}
.header-buttons {
  display: none;
}
@media (min-width: 1200px) {
  .header-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Lato", sans-serif;
  }
}
.login-btn {
  padding: 12px 24px;
  font-weight: 700;
  font-size: 16px;
  color: #ff5722;
  background-color: #fff;
}
.login-btn:hover {
  color: #fff;
  background-color: #ff5722;
  -webkit-box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
          box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}
.signup-btn {
  padding: 12px 24px;
  font-weight: 700;
  font-size: 16px;
  color: #ff5722;
  background-color: #fff;
}
.signup-btn:hover {
  color: #fff;
  background-color: #ff5722;
  -webkit-box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
          box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}
.section-our-spaces {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .section-our-spaces {
    margin-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .section-our-spaces {
    margin-bottom: 150px;
  }
}
.our-spaces_content {
  position: relative;
}
.our-spaces_header {
  max-width: 300px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .our-spaces_header {
    max-width: 740px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1200px) {
  .our-spaces_header {
    max-width: unset;
    margin-bottom: 55px;
  }
}
.our-spaces__title {
  max-width: 150px;
  margin-bottom: 10px;
  margin-right: 100px;
  font-size: 24px;
  color: #10375c;
}
@media (min-width: 1200px) {
  .our-spaces__title {
    max-width: 220px;
    margin-right: 160px;
    font-family: "Lora", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
  }
}
.our-spaces__desc {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #9a9a9a;
}
@media (min-width: 768px) {
  .our-spaces__desc {
    max-width: 450px;
  }
}
@media (min-width: 1200px) {
  .our-spaces__desc {
    font-size: 18px;
    line-height: 28px;
  }
}
@media (min-width: 768px) {
  .our-spaces_carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    margin-bottom: 53px;
  }
}
.our-spaces_carousel-item {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .our-spaces_carousel-item {
    width: 250px;
    height: auto;
    margin-bottom: 0;
  }
  .our-spaces_carousel-item:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .our-spaces_carousel-item {
    width: 350px;
    height: 420px;
  }
}
.carousel-item_img {
  position: relative;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .carousel-item_img {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .carousel-item_img {
    margin-bottom: 25px;
  }
}
.carousel-item_img-center {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  height: 470px;
  margin-bottom: 25px;
  background-color: #10375c;
  -webkit-box-shadow: 0px 4px 16px rgba(16, 55, 92, 0.3);
          box-shadow: 0px 4px 16px rgba(16, 55, 92, 0.3);
}
@media (min-width: 768px) {
  .carousel-item_img-center {
    width: 250px;
    height: 350px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .carousel-item_img-center {
    width: 350px;
    height: 470px;
    margin-bottom: 25;
  }
}
.img-center__title {
  margin-bottom: 14px;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .img-center__title {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .img-center__title {
    font-size: 32px;
  }
}
.img-center__desc {
  max-width: 255px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 768px) {
  .img-center__desc {
    padding: 0 20px;
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .img-center__desc {
    font-size: 18px;
  }
}
.carousel-item_btn {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  padding: 28px 31px;
  font-size: 18px;
  background-color: #ff5722;
  color: #fff;
}
@media (min-width: 768px) {
  .carousel-item_btn {
    padding: 22px 25px;
  }
}
@media (min-width: 1200px) {
  .carousel-item_btn {
    padding: 28px 31px;
  }
}
.carousel-item_btn span {
  margin-right: 31px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}
.carousel-item_desc {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222831;
}
.our-spaces_arrow-left {
  display: none;
}
@media (min-width: 1200px) {
  .our-spaces_arrow-left {
    display: block;
    position: absolute;
    top: 35px;
    right: 125px;
    background-color: #fff;
  }
}
.our-spaces_arrow-right {
  display: none;
}
@media (min-width: 1200px) {
  .our-spaces_arrow-right {
    display: block;
    position: absolute;
    top: 35px;
    right: 0;
    background-color: #fff;
  }
}
@media (min-width: 768px) {
  .diagonal-lines-img {
    position: absolute;
    width: 70px;
    right: 16px;
    top: 16px;
  }
}
@media (min-width: 1200px) {
  .diagonal-lines-img {
    width: unset;
  }
}
.why-frispes-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .why-frispes-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .why-frispes-content {
    padding-bottom: 115px;
  }
}
.why-frispes-content_left-info {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 45px;
}
@media (min-width: 1200px) {
  .why-frispes-content_left-info {
    width: 540px;
    height: 420px;
  }
}
.statistics_item-icon {
  width: 32px;
  height: 32px;
  margin-right: 24px;
}
.left-info-statistics_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-right: 25px;
}
.left-info-statistics_item:nth-child(even) {
  margin-right: 0;
}
@media (min-width: 1200px) {
  .left-info-statistics_item {
    margin-right: 0;
  }
}
.statistics_item-info-title {
  margin-bottom: 3px;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #10375c;
}
@media (min-width: 1200px) {
  .statistics_item-info-title {
    margin-bottom: 8px;
    font-size: 32px;
  }
}
.statistics_item-info-desc {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9a9a9a;
}
@media (min-width: 1200px) {
  .statistics_item-info-desc {
    font-size: 16px;
    line-height: 26px;
  }
}
.why-frispes-content_right-info {
  padding: 34px;
  background-color: #10375c;
  color: #fff;
}
@media (min-width: 1200px) {
  .why-frispes-content_right-info {
    width: 540px;
    height: 420px;
  }
}
.right-info__subtitle h4 {
  position: relative;
  font-size: 14px;
  color: #fff;
}
@media (min-width: 1200px) {
  .right-info__subtitle h4 {
    font-size: 20px;
  }
}
.right-info__subtitle h4::after {
  position: absolute;
  content: "";
  top: 7px;
  left: 90px;
  width: 73px;
  height: 2px;
  background-color: #fff;
}
@media (min-width: 1200px) {
  .right-info__subtitle h4::after {
    top: 13px;
    left: 120px;
  }
}
.right-info__title {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  line-height: 32px;
  font-size: 24px;
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  .right-info__title {
    font-size: 40px;
    line-height: 51px;
    margin-bottom: 24px;
  }
}
.right-info__desc {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
@media (min-width: 1200px) {
  .right-info__desc {
    font-size: 20px;
  }
}
.section-our-facilities {
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .section-our-facilities {
    margin-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .section-our-facilities {
    margin-bottom: 112px;
  }
}
.our-facilities_heading {
  max-width: 300px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .our-facilities_heading {
    max-width: 740px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .our-facilities_heading {
    max-width: unset;
    margin: 0;
  }
}
.our-facilities__subtitle {
  position: relative;
  font-size: 14px;
}
.our-facilities__subtitle::after {
  position: absolute;
  content: "";
  top: 7px;
  left: 95px;
  width: 73px;
  height: 2px;
  background-color: #222831;
}
@media (min-width: 1200px) {
  .our-facilities__subtitle {
    font-size: 20px;
  }
  .our-facilities__subtitle::after {
    position: absolute;
    content: "";
    top: 13px;
    left: 125px;
    width: 73px;
    height: 2px;
    background-color: #222831;
  }
}
.our-facilities__title {
  margin-bottom: 20px;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #10375c;
}
@media (min-width: 768px) {
  .our-facilities__title {
    margin-right: 15px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .our-facilities__title {
    margin-bottom: 56px;
    font-size: 40px;
    line-height: 51px;
  }
}
.our-facilities_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (min-width: 768px) {
  .our-facilities_content {
    max-width: 740px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .our-facilities_content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    max-width: unset;
    margin: 0;
  }
}
.our-facilities_content-left-info {
  width: 295px;
}
@media (min-width: 768px) {
  .our-facilities_content-left-info {
    margin-right: 40px;
  }
}
@media (min-width: 1200px) {
  .our-facilities_content-left-info {
    margin-right: 90px;
  }
}
.our-facilities-content-img {
  display: none;
}
@media (min-width: 768px) {
  .our-facilities-content-img {
    max-width: 460px;
    display: block;
  }
}
@media (min-width: 1200px) {
  .our-facilities-content-img {
    max-width: unset;
  }
}
.our-facilities_list-btn {
  width: 100%;
  padding: 24px;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #222831;
  background-color: #fff;
}
.our-facilities_list-btn:hover {
  color: #fff;
  background-color: #ff5722;
}
@media (min-width: 768px) {
  .our-facilities_list-btn {
    padding: 18px;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .our-facilities_list-btn {
    padding: 24px;
    font-size: 20px;
  }
}
.section-frispes-gallery {
  position: relative;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .section-frispes-gallery {
    height: 430px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .section-frispes-gallery {
    height: 605px;
    margin-bottom: 112px;
  }
}
.frispes-gallery-heading {
  max-width: 300px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .frispes-gallery-heading {
    max-width: unset;
    margin: 0;
    padding-right: 60px;
    float: right;
  }
}
@media (min-width: 1200px) {
  .frispes-gallery-heading {
    padding: 0;
  }
}
.frispes-gallery__subtitle {
  position: relative;
  font-size: 14px;
}
.frispes-gallery__subtitle::after {
  position: absolute;
  content: "";
  top: 9px;
  left: 105px;
  width: 73px;
  height: 2px;
  background-color: #222831;
}
@media (min-width: 1200px) {
  .frispes-gallery__subtitle {
    font-size: 20px;
  }
  .frispes-gallery__subtitle::after {
    position: absolute;
    content: "";
    top: 13px;
    left: 125px;
    width: 73px;
    height: 2px;
    background-color: #222831;
  }
}
.frispes-gallery__title {
  margin-bottom: 20px;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #10375c;
}
@media (min-width: 1200px) {
  .frispes-gallery__title {
    width: 495px;
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 51px;
  }
}
.frispes-gallery_carousel {
  position: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (min-width: 768px) {
  .frispes-gallery_carousel {
    position: absolute;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
.frispes-gallery_carousel-item {
  width: 320px;
  height: 320px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .frispes-gallery_carousel-item {
    width: unset;
    height: unset;
    margin-right: 10px;
  }
}
@media (min-width: 1200px) {
  .frispes-gallery_carousel-item {
    width: unset;
    height: unset;
    margin-right: 15px;
  }
}
.frispes-gallery_carousel-item img {
  width: 320px;
  height: 320px;
}
@media (min-width: 768px) {
  .frispes-gallery_carousel-item img {
    width: 250px;
    height: 250px;
    margin-right: 10px;
  }
}
@media (min-width: 1200px) {
  .frispes-gallery_carousel-item img {
    width: 350px;
    height: 350px;
    margin-right: 15px;
  }
}
@media (min-width: 768px) {
  .frispes-gallery_carousel-item.active img {
    width: 300px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .frispes-gallery_carousel-item.active img {
    width: 445px;
    height: auto;
    margin-right: 15px;
    margin-bottom: 0;
  }
}
.frispes-gallery_arrows {
  display: none;
}
@media (min-width: 1200px) {
  .frispes-gallery_arrows {
    display: block;
  }
}
.frispes-gallery_arrow-left {
  margin-right: 25px;
  font-size: 28px;
  background-color: #fff;
}
.frispes-gallery_arrow-right {
  font-size: 28px;
  background-color: #fff;
}
.section-who-use-frisper {
  margin-bottom: 62px;
}
@media (min-width: 768px) {
  .section-who-use-frisper {
    margin-bottom: 112px;
  }
}
.who-use-frisper_content-title {
  margin-bottom: 15px;
  text-align: center;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #10375c;
}
@media (min-width: 768px) {
  .who-use-frisper_content-title {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .who-use-frisper_content-title {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 51px;
  }
}
.who-use-frisper_content-desc {
  margin-bottom: 37px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #9a9a9a;
}
@media (min-width: 768px) {
  .who-use-frisper_content-desc {
    margin-bottom: 52px;
  }
}
@media (min-width: 1200px) {
  .who-use-frisper_content-desc {
    margin-bottom: 72px;
  }
}
.who-use-frisper_company-logos {
  width: 300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
}
@media (min-width: 768px) {
  .who-use-frisper_company-logos {
    width: 740px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1200px) {
  .who-use-frisper_company-logos {
    width: 1175px;
  }
}
.company-logos__item {
  width: 120px;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .company-logos__item {
    width: 95px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .company-logos__item {
    width: unset;
  }
}
.section-reviews {
  position: relative;
  margin-bottom: 62px;
}
@media (min-width: 768px) {
  .section-reviews {
    height: 625px;
    margin-bottom: 52px;
  }
}
@media (min-width: 1200px) {
  .section-reviews {
    margin-bottom: 112px;
  }
}
.reviews_control-btn {
  display: none;
}
@media (min-width: 1200px) {
  .reviews_control-btn {
    display: block;
  }
}
.reviews_arrow-left {
  position: absolute;
  top: 105px;
  right: 375px;
  font-size: 28px;
  background-color: #fff;
}
.reviews_arrow-right {
  position: absolute;
  top: 105px;
  right: 250px;
  font-size: 28px;
  background-color: #fff;
}
.section-reviews_heading {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .section-reviews_heading {
    max-width: 740px;
    margin-bottom: 36px;
  }
}
@media (min-width: 1200px) {
  .section-reviews_heading {
    max-width: unset;
    margin-bottom: 56px;
  }
}
.section-reviews__subtitle {
  position: relative;
  font-size: 14px;
}
.section-reviews__subtitle::after {
  position: absolute;
  content: "";
  top: 8px;
  left: 68px;
  width: 73px;
  height: 2px;
  background-color: #222831;
}
@media (min-width: 1200px) {
  .section-reviews__subtitle {
    font-size: 20px;
  }
  .section-reviews__subtitle::after {
    position: absolute;
    content: "";
    top: 13px;
    left: 125px;
    width: 73px;
    height: 2px;
    background-color: #222831;
  }
}
.section-reviews__title {
  margin-bottom: 20px;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #10375c;
}
@media (min-width: 768px) {
  .section-reviews__title {
    font-size: 28px;
  }
}
@media (min-width: 1200px) {
  .section-reviews__title {
    width: 495px;
    font-size: 40px;
    margin-bottom: 50px;
  }
}
.reviews-slider {
  position: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media (min-width: 768px) {
  .reviews-slider {
    position: absolute;
    left: 70px;
    right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1200px) {
  .reviews-slider {
    left: 205px;
  }
}
.reviews-slider_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  height: 393px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  color: #fff;
  background-color: #10375c;
}
@media (min-width: 768px) {
  .reviews-slider_item {
    width: 235px;
    height: 365px;
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  .reviews-slider_item {
    width: 445px;
    margin-bottom: 0;
    margin-right: 30px;
    padding: 40px 45px 40px 35px;
  }
}
.reviews-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .reviews-text {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .reviews-text {
    font-size: 16px;
  }
}
.reviews-autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews-autor__avatar {
  width: 46px;
  height: auto;
  margin-right: 16px;
}
@media (min-width: 1200px) {
  .reviews-autor__avatar {
    width: 56px;
  }
}
.reviews-autor__name {
  margin-bottom: 4px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
}
@media (min-width: 1200px) {
  .reviews-autor__name {
    font-size: 18px;
  }
}
.reviews-autor__profession {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 1200px) {
  .reviews-autor__profession {
    font-size: 16px;
    line-height: 26px;
  }
}
.section-faq {
  margin-bottom: 40px;
}
.section-faq_title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
  color: #10375c;
}
@media (min-width: 768px) {
  .section-faq_title {
    font-size: 28px;
    margin-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .section-faq_title {
    width: 578px;
    margin-bottom: 54px;
    font-size: 40px;
  }
}
.faq-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .faq-slider {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 67px;
  }
}
.faq-slider_item {
  position: relative;
  width: 300px;
  height: 150px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 50px;
  padding: 40px 22px;
  text-align: center;
  -webkit-box-shadow: 0px 4px 16px rgba(223, 223, 223, 0.5);
          box-shadow: 0px 4px 16px rgba(223, 223, 223, 0.5);
}
@media (min-width: 768px) {
  .faq-slider_item {
    width: 250px;
    height: 180px;
    padding: 35px;
    margin-bottom: 0;
    margin-right: 20px;
  }
  .faq-slider_item:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .faq-slider_item {
    width: 350px;
    height: 170px;
    padding: 40px 42px 40px 63px;
    margin-bottom: 0;
    margin-right: 20px;
  }
  .faq-slider_item:hover {
    color: #fff;
    background-color: #ff5722;
  }
  .faq-slider_item:hover .faq-slider_item-button {
    cursor: pointer;
    color: #ff5722;
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 16px rgba(221, 44, 0, 0.24);
            box-shadow: 0px 4px 16px rgba(221, 44, 0, 0.24);
  }
}
.faq-slider_item-text {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}
@media (min-width: 1200px) {
  .faq-slider_item-text {
    font-size: 26px;
    line-height: 33px;
  }
}
.faq-more-question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.faq-slider_item-button {
  position: absolute;
  color: #fff;
  background-color: #ff5722;
  padding: 15px 19px;
  left: 130px;
  bottom: -25px;
}
@media (min-width: 768px) {
  .faq-slider_item-button {
    padding: 17px 23px;
    left: 100px;
    bottom: -30px;
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .faq-slider_item-button {
    padding: 20px 24px;
    left: 150px;
    bottom: -30px;
    font-size: 18px;
  }
}
.more-question_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.more-question_link .fa-angle-right {
  font-size: 20px;
  line-height: 26px;
  color: #ff5722;
}
.more-question_link a {
  margin-right: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ff5722;
}
.section-news {
  padding-bottom: 65px;
  background-color: #f8f8f8;
}
@media (min-width: 768px) {
  .section-news {
    padding-bottom: 95px;
  }
}
.section-news_heading {
  width: 300px;
  margin: 0 auto;
  padding-top: 30px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .section-news_heading {
    width: 740px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-top: 60px;
    margin-bottom: 35px;
  }
}
@media (min-width: 1200px) {
  .section-news_heading {
    width: unset;
    margin-bottom: 55px;
  }
}
.section-news__title {
  font-size: 24px;
  color: #10375c;
}
@media (min-width: 768px) {
  .section-news__title {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .section-news__title {
    font-size: 40px;
  }
}
.section-news__see-more {
  display: none;
}
@media (min-width: 768px) {
  .section-news__see-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.section-news__see-more a {
  margin-right: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ff5722;
}
.section-news__see-more .fa-angle-right {
  font-size: 20px;
  line-height: 29px;
  color: #ff5722;
  background-color: #f8f8f8;
}
.section-news_main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 768px) {
  .section-news_main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .section-news_main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.main-content__first-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}
.main-content__first-card:hover {
  -webkit-box-shadow: 0px 4px 16px rgba(223, 223, 223, 0.5);
          box-shadow: 0px 4px 16px rgba(223, 223, 223, 0.5);
}
@media (min-width: 768px) {
  .main-content__first-card {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-content__first-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px;
  }
}
.first-card__img {
  width: 350px;
}
.first-card__desc {
  width: 370px;
  height: 320px;
  padding: 32px;
  background-color: #fff;
}
.first-card__desc-title {
  margin-bottom: 24px;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  color: #222831;
}
.first-card__desc-info {
  margin-bottom: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
}
.first-card__autor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first-card__autor-avatar {
  width: 56px;
  height: auto;
  margin-right: 16px;
}
.autor-info__name {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #10375c;
}
.autor-info__profession {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
}
.main-content__small-card {
  width: 300px;
  margin-bottom: 20px;
  background-color: #fff;
}
@media (min-width: 768px) {
  .main-content__small-card {
    width: 350px;
    justify-self: center;
  }
  .main-content__small-card:hover {
    -webkit-box-shadow: 0px 4px 16px rgba(223, 223, 223, 0.5);
            box-shadow: 0px 4px 16px rgba(223, 223, 223, 0.5);
  }
}
@media (min-width: 1200px) {
  .main-content__small-card {
    margin-right: 20px;
  }
}
.small-card__desc {
  padding: 16px;
}
.small-card__desc-title {
  margin-bottom: 4px;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #222831;
}
.small-card__desc-autor {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
}
.footer {
  padding-top: 35px;
  padding-bottom: 20px;
  background-color: #0d2c4a;
}
@media (min-width: 768px) {
  .footer {
    padding-top: 55px;
    padding-bottom: 100px;
  }
}
.footer-content {
  width: 300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
}
@media (min-width: 768px) {
  .footer-content {
    width: 740px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: unset;
  }
}
@media (min-width: 1200px) {
  .footer-content {
    width: unset;
    margin: 0;
  }
}
.footer-logo {
  margin-bottom: 16px;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer-logo {
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  .footer-logo {
    font-size: 52px;
    line-height: 67px;
  }
}
.footer-about {
  max-width: 255px;
  margin: 0 auto;
  margin-bottom: 22px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #f8f8f8;
  opacity: 0.85;
}
@media (min-width: 768px) {
  .footer-about {
    width: 200px;
    font-size: 12px;
    margin-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .footer-about {
    max-width: 250px;
    font-size: 16px;
    margin-bottom: 32px;
  }
}
.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .footer-icons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-bottom: 0;
  }
}
.footer-icons-item {
  margin-right: 20px;
}
.footer-icons-item:last-child {
  margin-right: 0;
}
.footer-icons-item .fa-brands {
  font-size: 22px;
  color: #fff;
}
.footer-icons-item .fa-brands:hover {
  color: #ff5722;
  cursor: pointer;
}
.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .footer-right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 30px;
    margin: 0;
  }
}
.footer-col {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .footer-col {
    margin-bottom: 0;
    margin-right: 25px;
  }
  .footer-col:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .footer-col {
    margin-right: 68px;
  }
}
.footer-col-title {
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .footer-col-title {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 18px;
  }
}
@media (min-width: 1200px) {
  .footer-col-title {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 30px;
  }
}
.footer-col a,
.footer-col p {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}
@media (min-width: 768px) {
  .footer-col a,
  .footer-col p {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .footer-col a,
  .footer-col p {
    font-size: 16px;
    line-height: 26px;
  }
}
.footer-col a:hover {
  color: #ff5722;
}
.footer-list-item {
  margin-bottom: 9px;
}
.footer-list-item:last-child {
  margin-bottom: 0;
}
.footer-list-item a:hover {
  color: #ff5722;
}
/*# sourceMappingURL=main.css.map */