.footer {
  padding-top: 55px;
  padding-bottom: 100px;
  background-color: #0d2c4a;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-right {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 52px;
  line-height: 67px;
  color: #ffffff;
}

.footer-about {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #f8f8f8;
}

.footer-col {
  margin-right: 30px;
}

.footer-col:last-child {
  margin-right: 0;
}

.footer-col a {
  text-decoration: none;
  color: #fff;
}

.footer-col a:hover {
  text-decoration: underline;
}

// .footer-col p {
//   margin-bottom: 14px;
// }

// .footer-col p:last-child {
//   margin-bottom: 0;
// }

.footer-col-title {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

// .footer-list {
//   margin: 0;
//   padding: 0;
//   list-style-type: none;
//   font-size: 18px;
//   font-weight: 400;
// }

.footer-col-info {
  width: 200px;
}

.footer-col-services {
  width: 240px;
}

.footer-col-contacts {
  width: 200px;
}

.footer-list-item {
  margin-bottom: 14px;
}

.footer-list-item:last-child {
  margin-bottom: 0;
}

.footer-list-item a {
  text-decoration: none;
  color: #fff;
}

.footer-list-item a:hover {
  text-decoration: underline;
}
