.footer {
  padding-top: 35px;
  padding-bottom: 20px;
  background-color: #0d2c4a;

  @media (min-width: 768px) {
    padding-top: 55px;
    padding-bottom: 100px;
  }
}

.footer-content {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;

  @media (min-width: 768px) {
    width: 740px;
    flex-direction: row;
    justify-content: space-between;
    text-align: unset;
  }

  @media (min-width: 1200px) {
    width: unset;
    margin: 0;
  }
}

.footer-logo {
  margin-bottom: 16px;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  color: #ffffff;

  @media (min-width: 768px) {
    font-size: 36px;
  }

  @media (min-width: 1200px) {
    font-size: 52px;
    line-height: 67px;
  }
}

.footer-about {
  max-width: 255px;
  margin: 0 auto;
  margin-bottom: 22px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #f8f8f8;
  opacity: 0.85;

  @media (min-width: 768px) {
    width: 200px;
    font-size: 12px;
    margin-bottom: 22px;
  }

  @media (min-width: 1200px) {
    max-width: 250px;
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    justify-content: start;
    margin-bottom: 0;
  }
}

.footer-icons-item {
  margin-right: 20px;
}

.footer-icons-item:last-child {
  margin-right: 0;
}

.footer-icons-item .fa-brands {
  font-size: 22px;
  color: #fff;
}

.footer-icons-item .fa-brands:hover {
  color: #ff5722;
  cursor: pointer;
}

.footer-right {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    margin: 0;
  }
}

.footer-col {
  margin-bottom: 25px;

  @media (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: 1200px) {
    margin-right: 68px;
  }
}

.footer-col-title {
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  opacity: 0.5;

  @media (min-width: 768px) {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 30px;
  }
}

.footer-col a,
.footer-col p {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;

  @media (min-width: 768px) {
    font-size: 14px;
  }

  @media (min-width: 1200px) {
    font-size: 16px;
    line-height: 26px;
  }
}

.footer-col a:hover {
  color: #ff5722;
}

.footer-list-item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.footer-list-item a:hover {
  color: #ff5722;
}
