.section-header {
  margin-bottom: 115px;
}

.header-menu {
  max-width: 340px;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    max-width: 740px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  @media (min-width: 1200px) {
    max-width: unset;
    padding-top: 61px;
    margin-bottom: 60px;
  }
}

.header-main {
  max-width: 340px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 740px;
  }

  @media (min-width: 1200px) {
    max-width: unset;
  }

  // @media (min-width: 1440px) {
  // }
}

.header-main_subtitle {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    top: 7px;
    left: 85px;
    width: 73px;
    height: 2px;
    background-color: #222831;
  }

  @media (min-width: 1200px) {
    &::after {
      position: absolute;
      content: "";
      top: 13px;
      left: 135px;
      width: 73px;
      height: 2px;
      background-color: #222831;
    }
  }
}

// .header-main_subtitle::after {
//   position: absolute;
//   content: "";
//   top: 13px;
//   left: 135px;
//   width: 73px;
//   height: 2px;
//   background-color: #222831;
// }

.introducing__info {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    max-width: 740px;
    margin-bottom: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  @media (min-width: 1200px) {
    max-width: 1110px;
  }
}

.introducing__title {
  margin-bottom: 10px;
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
  color: #10375c;

  @media (min-width: 768px) {
    width: 50%;
    margin-right: 15px;
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    margin-bottom: 15px;
  }

  // @media (min-width: 1440px) {

  // }
}

.introducing__title span {
  color: #dd2c00;
}

.introducing__desc {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #6a6a6a;

  @media (min-width: 768px) {
    width: 50%;
    font-size: 16px;
  }

  @media (min-width: 1200px) {
    padding-top: 5px;
  }
}

.introducing__img {
  max-width: 340px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 740px;
  }

  @media (min-width: 1200px) {
    max-width: 1110px;
  }
}
