.section-who-use-frisper {
  margin-bottom: 112px;
}

.who-use-frisper_content-title {
  margin-bottom: 24px;
  text-align: center;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #0d2c4a;
}

.who-use-frisper_content-desc {
  margin-bottom: 72px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #9a9a9a;
}

.who-use-frisper_company-logos {
  width: 1175px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
