.section-frispes-gallery {
  position: relative;
  height: 605px;
  margin-bottom: 112px;
}

.frispes-gallery-heading {
  float: right;
}

.frispes-gallery__title {
  position: relative;
  margin-bottom: 8px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #222831;
}

.frispes-gallery__title::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 135px;
  width: 73px;
  height: 2px;
  background-color: #222831;
}

.frispes-gallery__inner-title {
  width: 495px;
  margin-bottom: 50px;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #10375c;
}

.frispes-gallery_carousel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: baseline;
  bottom: 0;
  right: 0;
  left: 0;
}

.frispes-gallery_carousel-item img {
  width: 350px;
  height: 350px;
  margin-right: 30px;
}

.frispes-gallery_carousel-item.active img {
  width: 445px;
  height: auto;
}

.frispes-gallery_arrow-left {
  width: 28px;
  margin-right: 50px;
  font-size: 28px;
  background-color: #fff;
  color: #9a9a9a;
}

.frispes-gallery_arrow-right {
  width: 28px;
  font-size: 28px;
  background-color: #fff;
  color: #9a9a9a;
}
