.section-reviews {
  position: relative;
  margin-bottom: 62px;

  @media (min-width: 768px) {
    height: 625px;
    margin-bottom: 52px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 112px;
  }
}

.reviews_control-btn {
  display: none;

  @media (min-width: 1200px) {
    display: block;
  }
}

.reviews_control-btn-left {
  position: absolute;
  top: 105px;
  right: 375px;
  font-size: 28px;
  background-color: #fff;
}

.reviews_control-btn-right {
  position: absolute;
  top: 105px;
  right: 250px;
  font-size: 28px;
  background-color: #fff;
}

.section-reviews_heading {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    max-width: 740px;
    margin-bottom: 36px;
  }

  @media (min-width: 1200px) {
    max-width: unset;
    margin-bottom: 56px;
  }
}

.section-reviews__subtitle {
  position: relative;
  font-size: 14px;

  &::after {
    position: absolute;
    content: "";
    top: 8px;
    left: 68px;
    width: 73px;
    height: 2px;
    background-color: #222831;
  }

  @media (min-width: 1200px) {
    font-size: 20px;

    &::after {
      position: absolute;
      content: "";
      top: 13px;
      left: 85px;
      width: 73px;
      height: 2px;
      background-color: #222831;
    }
  }
}

.section-reviews__title {
  margin-bottom: 20px;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  color: #10375c;

  @media (min-width: 768px) {
    font-size: 28px;
  }

  @media (min-width: 1200px) {
    width: 495px;
    font-size: 40px;
    margin-bottom: 50px;
  }
}

.reviews-slider {
  position: unset;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  @media (min-width: 768px) {
    position: absolute;
    left: 70px;
    right: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 1200px) {
    left: 205px;
  }
}

.reviews-slider_item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 300px;
  height: 393px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  color: #fff;
  background-color: #10375c;

  @media (min-width: 768px) {
    width: 235px;
    height: 365px;
    margin-right: 20px;
  }

  @media (min-width: 1200px) {
    width: 445px;
    margin-bottom: 0;
    margin-right: 30px;
    padding: 40px 45px 40px 35px;
  }
}

.reviews-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  @media (min-width: 768px) {
    font-size: 12px;
  }

  @media (min-width: 1200px) {
    font-size: 16px;
  }
}

.reviews-autor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reviews-autor__avatar {
  width: 46px;
  height: auto;
  margin-right: 16px;

  @media (min-width: 1200px) {
    width: 56px;
  }
}

.reviews-autor__name {
  margin-bottom: 4px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;

  @media (min-width: 1200px) {
    font-size: 18px;
  }
}

.reviews-autor__profession {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: 1200px) {
    font-size: 16px;
    line-height: 26px;
  }
}
