.section-our-facilities {
  padding-bottom: 112px;
}

.our-facilities__subtitle {
  position: relative;
}

.our-facilities__subtitle::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 135px;
  width: 73px;
  height: 2px;
  background-color: #222831;
}

.our-facilities__title {
  margin-bottom: 56px;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: #10375c;
}

.our-facilities_content {
  display: flex;
  justify-content: flex-start;
}

.our-facilities_content-left-info {
  width: 295px;
  margin-right: 90px;
}

.our-facilities_list-btn {
  width: 100%;
  padding: 24px;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #222831;
  background-color: #fff;

  &:hover {
    color: #fff;
    background-color: #ff5722;
  }
}
