.why-frispes-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 115px;
}

.why-frispes-content_left-info {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 540px;
  height: 420px;
  padding: 45px;
}

.statistics_item-icon {
  width: 32px;
  height: 32px;
  margin-right: 24px;
}

.left-info-statistics_item {
  display: flex;
  justify-self: center;
  align-self: center;
}

.statistics_item-info-title {
  margin-bottom: 8px;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #10375c;
}

.statistics_item-info-desc {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
}

.why-frispes-content_right-info {
  width: 540px;
  height: 420px;
  padding: 53px;
  background-color: #10375c;
  color: #fff;
}

.right-info__subtitle h4 {
  position: relative;
  color: #fff;
}

.right-info__subtitle h4::after {
  position: absolute;
  content: "";
  top: 13px;
  left: 120px;
  width: 73px;
  height: 2px;
  background-color: #fff;
}

.right-info__title {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  margin-bottom: 24px;
}

.right-info__desc {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
