.section-news {
  padding-bottom: 65px;
  background-color: #f8f8f8;

  @media (min-width: 768px) {
    padding-bottom: 95px;
  }
}

.section-news_heading {
  width: 300px;
  margin: 0 auto;
  padding-top: 30px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    width: 740px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 60px;
    margin-bottom: 35px;
  }

  @media (min-width: 1200px) {
    width: unset;
    margin-bottom: 55px;
  }
}

.section-news__title {
  font-size: 24px;
  color: #10375c;

  @media (min-width: 768px) {
    font-size: 32px;
  }

  @media (min-width: 1200px) {
    font-size: 40px;
  }
}

.section-news__see-more {
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
}

.section-news__see-more a {
  margin-right: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ff5722;
}

.section-news__see-more .fa-angle-right {
  font-size: 20px;
  line-height: 29px;
  color: #ff5722;
  background-color: #f8f8f8;
}

.section-news_main-content {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
  }
}

// .main-content_upper-row {
//   display: none;

//   @media (min-width: 768px) {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     margin-bottom: 20px;
//   }

//   @media (min-width: 1200px) {
//     flex-wrap: nowrap;
//     margin-bottom: 30px;
//   }
// }

.main-content__first-card {
  display: flex;
  margin-right: 20px;

  &:hover {
    box-shadow: 0px 4px 16px rgba(223, 223, 223, 0.5);
  }

  @media (min-width: 768px) {
    display: none;
  }

  @media (min-width: 1200px) {
    display: flex;
    margin-right: 20px;
  }
}

.first-card__img {
  width: 350px;
}

.first-card__desc {
  width: 370px;
  height: 320px;
  padding: 32px;
  background-color: #fff;
}

.first-card__desc-title {
  margin-bottom: 24px;
  font-family: "Lora", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  color: #222831;
}

.first-card__desc-info {
  margin-bottom: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
}

.first-card__autor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.first-card__autor-avatar {
  width: 56px;
  height: auto;
  margin-right: 16px;
}

.autor-info__name {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #10375c;
}

.autor-info__profession {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
}

// .main-content_bottom-row {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: nowrap;
//   margin: 0 auto;

//   @media (min-width: 768px) {
//     flex-wrap: wrap;
//   }

//   @media (min-width: 1200px) {
//     flex-direction: row;
//     flex-wrap: nowrap;
//     justify-content: space-between;
//     align-items: center;
//   }
// }

.main-content__small-card {
  width: 300px;
  margin-bottom: 20px;
  background-color: #fff;

  @media (min-width: 768px) {
    width: 350px;
    justify-self: center;

    &:hover {
      box-shadow: 0px 4px 16px rgba(223, 223, 223, 0.5);
    }
  }

  @media (min-width: 1200px) {
    margin-right: 20px;
  }
}

.small-card__desc {
  padding: 16px;
}

.small-card__desc-title {
  margin-bottom: 4px;
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #222831;
}

.small-card__desc-autor {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #9a9a9a;
}
